<div class="container">
  <div class="row" >
    <h2>Catalogo degli Equilibristi</h2>
  </div>
  <div class="row col-md-6">
    <button class="btn btn-outline-light mt-auto bg-primary" (click)="exportAllAsXLSX()">Scarica il catalogo</button>
  </div>
  <div class="row" >
    <h3>Ultimi libri aggiunti al catalogo</h3>
  </div>

  <div class="row" *ngFor="let book of insBooks" >
    <div class="col-md-12">
      <app-book-accordion [book]="book"></app-book-accordion>
    </div>
  </div>

  <div class="row" *ngIf="totalInsPages>1">
    <ngb-pagination [collectionSize]="totalInsBooks" [pageSize]="itemsPerPage" 
      [(page)]="insBookPage" [maxSize]="5" [rotate]="true" (pageChange)="loadInsBooksPage($event)">
    </ngb-pagination>
  </div>

  <br>

  <div class="row" >
    <h3>Ultimi libri scaricati dal catalogo</h3>
  </div>

  <div class="row" *ngFor="let book of delBooks" >
    <div class="col-md-12">
      <app-book-accordion [book]="book"></app-book-accordion>
    </div>
  </div>

  <div class="row" *ngIf="totalDelPages>1">
    <ngb-pagination [collectionSize]="totalDelBooks" [pageSize]="itemsPerPage" 
      [(page)]="delBookPage" [maxSize]="5" [rotate]="true" (pageChange)="loadDelBooksPage($event)">
    </ngb-pagination>
  </div>

</div>