<div class="container">
    <h2>Scarica un libro</h2>
    <div class="row" *ngIf="showBookDetail && !editBookMode">
        <button class="btn btn-primary mb-2" (click)=back()>Indietro</button>
    </div>
    <div class="row" *ngIf="showBarcodeReader">
            <button class="btn btn-outline-light mt-auto bg-primary" (click)="barcodeReader.stop(); showManualInsert=true; showBarcodeReader=false;">Inserisci ISBN manualmente</button>
        <app-barcode-reader #barcodeReader (barcode)="onDetected($event)"></app-barcode-reader>
    </div>

    <div class="row" *ngIf="showManualInsert">
        <div class="form-inline" >
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="inputIsbn" placeholder="Isbn" 
                    required
                    [(ngModel)]="searchValue" name="searchValue">
            </div>
            <button class="btn btn-primary mb-2" (click)=searchIsbn()>Cerca</button>
        </div>
    </div>

    <div class="row" *ngIf="showBookDetail">
        <app-book-detail [book]="book" [readonly]=false></app-book-detail>
    </div>   
    <br>
    <div class="row" *ngIf="showBookDetail">
        <app-manage-member [editMode]="false" (selectedMember)="selectedMember=$event"></app-manage-member>
    </div>    
    <div *ngIf="showBookDetail && selectedMember!=null">
        <div class="row">
            <h2>Libro Consegnato a: {{selectedMember.name}} {{selectedMember.surname}}</h2>
        </div>
        <app-insert-buttons [book]="book" [type]="'discard'" [selectedMember]="selectedMember"></app-insert-buttons>
    </div>

</div>
