<div class="container">
  <div class="row" >
    <h2>Ricerca nel catalogo degli Equilibristi</h2>
  </div>
  <div class="row align-items-center">
    <div class="float-left col-9">
      <p>
        Cerca nel catalogo, aggiungi i libri al carrello ed invia la richiesta di prenotazione cliccando sul pulsante qui a fianco.
      </p>
    </div>
    <div class="col-3">
      <div class="input-group-btn" *ngIf="!isMobile">
          <div class="btn-group" role="group">
            <button type="button" class="wsite-button" (click)=toBookingPage() [disabled]="chart.length==0">
              <span class="wsite-button-inner" aria-hidden="true">Prenota </span>
              <i class="fas fa-dolly"></i>
            </button>
          </div>
      </div>
      <div class="input-group-btn" *ngIf="isMobile">
        <div class="btn-group" role="group">
          <button type="button" class="wsite-button" (click)=toBookingPage() *ngIf="isMobile" [disabled]="chart.length==0"><i class="fas fa-dolly"></i></button>
        </div>
    </div>
    </div>
  </div>
  <div class="row" *ngIf="showHeavyChartAlert">
    <div class="alert alert-danger" role="alert" >
      Puoi prenotare al massimo 5 libri alla volta!
    </div>
  </div>
  <div class="row" *ngIf="!isMobile">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Titolo, Autore, Isbn, ..." (keyup.enter)=search()
              required
              [(ngModel)]="searchValue" name="searchValue"/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" (click)="isAdvancedOpen = !isAdvancedOpen" [attr.aria-expanded]="isAdvancedOpen" aria-controls="advancedSearchMenu"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu" id="advancedSearchMenu" [ngbCollapse]="!isAdvancedOpen">
                            <form class="form-horizontal" role="form">
                              <div class="form-group">
                                <label for="contain">Autore</label>
                                <input class="form-control" type="text"  placeholder="Autore" (keyup.enter)=advancedSearch() [(ngModel)]="searchAuthor" name="searchAuthor"/>
                              </div>
                              <div class="form-group">
                                <label for="contain">Titolo</label>
                                <input class="form-control" type="text" placeholder="Titolo" (keyup.enter)=advancedSearch() [(ngModel)]="searchTitle" name="searchTitle"/>
                              </div>
                              <div class="form-group">
                                <label for="contain">Editore</label>
                                <input class="form-control" type="text" placeholder="Editore" (keyup.enter)=advancedSearch() [(ngModel)]="searchPublisher" name="searchPublisher"/>
                              </div>
                              <div class="form-group">
                                <label for="contain">Genere</label>
                                <select class="custom-select" [(ngModel)]="searchCategory" [ngModelOptions]="{standalone: true}">
                                  <option *ngFor="let genre of genres" [value]="genre.genre">{{genre.genre}}</option>
                                </select>
                              </div>
                              <button type="submit" class="wsite-button mx-sm-3 mb-2 float-right" (click)=advancedSearch()><span class="wsite-button-inner" aria-hidden="true">Cerca</span></button>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="wsite-button" (click)=search()><span class="wsite-button-inner" aria-hidden="true">Cerca</span></button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row" *ngIf="isMobile">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Titolo, Autore, Isbn, ..." (keyup.enter)=search()
              required
              [(ngModel)]="searchValue" name="searchValue"/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button type="button" class="wsite-button" (click)=search()><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div *ngIf="!hideResults">
    <div class="row" *ngIf="books.length>0">
      <h3>Ho trovato questi libri:</h3>
    </div>
    <div class="row" *ngIf="books.length==0">
      <h3>Nessun libro trovato</h3>
    </div>
    <div class="row" *ngFor="let book of books" >
      <div class="col-md-12">
        <app-book-accordion [book]="book" [isChartEnabled]=true (addToChart)="addToChart($event)" (removeFromChart)="removeFromChart($event)"></app-book-accordion>
      </div>
    </div>
    <div class="row" *ngIf="totalPages>1">
      <ngb-pagination [collectionSize]="totalBooks" [pageSize]="pageSize" 
        [(page)]="page" [maxSize]="3" [rotate]="true" (pageChange)="loadPage($event)">
      </ngb-pagination>
    </div>
  </div>
  <div class="row" *ngIf="showErrorAlert">
    <div class="alert alert-danger" role="alert" >
      Qualcosa è andato storto!!
    </div>
  </div>
</div>
