<div class="row btn-toolbar">
  <button type="button" class="btn btn-success mb-3" (click)="save()" *ngIf="showSaveButton" [disabled]="!selectNotEmpty">Salva</button>
  <button type="button" class="btn btn-danger mb-3" (click)="delete()"*ngIf="showSaveButton" [disabled]="!selectNotEmpty">Elimina</button>
  <button type="button" class="btn btn-danger mb-3" (click)="discard()" *ngIf="showDiscardButton"> Conferma e scarica</button>
</div>


<div class="row" *ngIf="showAlerts">
  <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
    Operazione avvenuta con successo!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showErrorAlert">
    Qualcosa è andato storto!!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showValidationErrorAlert">
    L'isbn, il titolo, gli autori e il genere sono obbligatori!
  </div>
  
</div>



