<div class="row">
  <button type="button" class="btn btn-success mb-2" (click)="save()" *ngIf="showSaveButton" [disabled]="!selectNotEmpty">Salva</button>
  <button type="button" class="btn btn-danger mb-2" (click)="discard()" *ngIf="showDiscardButton"> Scarica</button>
</div>


<div class="row" *ngIf="showAlerts">
  <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
    Salvataggio del libro avvenuto con successo!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showErrorAlert">
    Qualcosa è andato storto!!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showValidationErrorAlert">
    Il titolo, gli autori e il genere sono obbligatori!
  </div>
  
</div>


