
<!-- nav logged -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/home">
    Equilibristi App
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/ricerca" (click)="toggleNavbar()">Ricerca</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/inserisci" (click)="toggleNavbar()">Inserisci</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/scarica" (click)="toggleNavbar()">Scarica</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/inserisci-associato" (click)="toggleNavbar()">Inserisci Associato</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/gestisci-associato" (click)="toggleNavbar()">Gestisci Associato</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/catalogo" (click)="toggleNavbar()">Libreria</a>
      </li>
    </ul>
    <div class="nav-item navbar-nav">
      <a class="nav-item nav-link" (click)="logout();">Logout</a>
  </div>
  </div>
</nav>
  
<!-- nav not logged -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" *ngIf="!currentUser">
  <a class="navbar-brand" routerLink="/">
    Equilibristi App
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/ricerca" (click)="toggleNavbar()">Ricerca</a>
      </li>
      
    </ul>
    <div class="nav-item navbar-nav">
      <a class="nav-item nav-link" routerLink="/login" >Login</a>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
