


<div class="input-group" *ngIf="!isManualInsert">
    <button class="btn btn-outline-light mt-auto bg-primary" (click)=manualInsert()>Inserisci ISBN manualmente</button>
    <div id="inputBarcode" style="position: static">
        <div id="interactive" class="viewport"></div>
    </div>
</div>

<div class="form-inline" *ngIf="isManualInsert">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="inputIsbn" placeholder="Isbn" 
            required
            [(ngModel)]="searchValue" name="searchValue">
    </div>
    <button class="btn btn-primary mb-2" (click)=searchIsbn()>Cerca</button>
</div>


