<div class="container">
    <div class="row" *ngIf="!editBookMode">
        <h2>Inserisci un nuovo libro</h2>
    </div>
    <div class="row" *ngIf="editBookMode">
        <h2>Modifica libro</h2>
    </div>
    <div class="row" *ngIf="!showBarcodeReader && !showManualInsert && !showBookDetail">
        <div class="row col-md-6">
            <button class="btn btn-outline-light mt-auto bg-primary" (click)="showManualInsert=false; showBarcodeReader=true;">Scansiona Isbn</button>
        </div>
        <div class="row col-md-6">
            <button class="btn btn-outline-light mt-auto bg-primary" (click)="showManualInsert=true; showBarcodeReader=false;">Inserisci Libro manualmente</button>
        </div>
    </div>
    
    <div class="row" *ngIf="showBarcodeReader">
        <app-barcode-reader #barcodeReader (barcode)="onDetected($event)"></app-barcode-reader>
    </div>

    <div class="row" *ngIf="showManualInsert">
        <div class="form-inline" >
            <div class="form-group mb-2">
                <input type="text" class="form-control" id="inputIsbn" placeholder="Isbn, Titolo, Autore, ..." (keyup.enter)="searchIsbn()"
                    required
                    [(ngModel)]="searchValue" name="searchValue">
            </div>
            <button class="btn btn-primary mx-sm-3 mb-2" (click)=searchIsbn()>Cerca</button>
        </div>
    </div>

    <div class="row" *ngIf="showBookDetail">
        <app-book-detail [book]="book" [readonly]=false (selectEvent)="selectNotEmpty=$event"></app-book-detail>
    </div>   
    <br>
    <div class="row" *ngIf="(showBookDetail || showBarcodeReader || showManualInsert) && !editBookMode">
        <button class="btn btn-primary mb-2" (click)=back()>Indietro</button>
    </div>
    <div *ngIf="showBookDetail">
        <app-insert-buttons [book]="book" [type]="'insert'" [showAlerts]="false" [selectNotEmpty]="selectNotEmpty"></app-insert-buttons>
    </div>

</div>
