
<div class="mb-3 row thumbnail" *ngIf="book.thumbnail || tmpThumbnail">
  <div *ngIf="book.thumbnail">
    <img src="{{book.thumbnail}}" class="img-fluid img-thumbnail" alt="Cover"> 
  </div>
  <button class="btn btn-outline-secondary align-self-center" (click)="removeThumbnail()" type="button">
    <div *ngIf="book.thumbnail"><i class="fas fa-trash-alt" ></i></div>
    <div *ngIf="tmpThumbnail"><i class="far fa-image" ></i></div>
  </button>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Titolo</span>
  </div>
  <input type="text" class="form-control"  [(ngModel)]="book.title" [(readonly)]="readonly">
</div>
<div class="input-group mb-3"  *ngIf="book.subtitle">
    <div class="input-group-prepend">
      <span class="input-group-text">Sottotitolo</span>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="book.subtitle" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Autori</span>
      </div>
      <input type="text" class="form-control"  [(ngModel)]="book.authors" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Editore</span>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="book.publisher" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGenreSelect">Genere</label>
    </div>
    <select class="custom-select" id="inputGenreSelect" [(ngModel)]="book.category" 
            [(disabled)]="readonly" (change)="changeSelect()">
      <option *ngFor="let genre of genres" [value]="genre.genre">{{genre.genre}}</option>
    </select>
  </div>
  <div *ngIf="!book.category">
      <div class="alert alert-danger mb-3" role="alert">
        Inserire il genere
      </div>
    </div>
  <div class="input-group mb-3" >
    <div class="input-group-prepend">
      <span class="input-group-text">Data di pubblicazione</span>
    </div>
    <input type="text" class="form-control" [ngModel]="book.publishedDate | date : 'd MMMM yyyy'"
      (ngModelChange)="book.publishedDate=$event" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3"  >
    <div class="input-group-prepend">
      <span class="input-group-text">Numero di Pagine</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="book.pageCount" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Lingua</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="book.language" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Isbn</span>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="book.isbn" [(readonly)]="readonly">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Prezzo</span>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="book.price" [(readonly)]="readonly">
  </div>
  <div *ngIf=book.libraryMetadata>  
    <div class="input-group mb-3" *ngFor="let regDate of book.libraryMetadata.registrationDates">
      <div class="input-group-prepend">
        <span class="input-group-text">Data di registrazione</span>
      </div>
      <input type="text" class="form-control" value={{regDate}} readonly>
    </div>
    <div class="input-group mb-3" *ngFor="let delDate of book.libraryMetadata.deliveryDates">
      <div class="input-group-prepend">
        <span class="input-group-text">Data di consegna</span>
      </div>
      <input type="text" class="form-control" value={{delDate}} readonly>
    </div>
    <div class="input-group mb-3" *ngIf="book.libraryMetadata.numberOfCopy">
      <div class="input-group-prepend">
        <span class="input-group-text">Numero di copie</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="book.libraryMetadata.numberOfCopy" readonly>
    </div>
    <div *ngIf="editMode">
      <div class="input-group mb-3" *ngFor="let position of book.libraryMetadata.positions; let i = index; trackBy:trackByFn" >
        <div class="input-group-prepend">
          <span class="input-group-text">Posizione</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="book.libraryMetadata.positions[i]" [(readonly)]="readonly">
      </div>
    </div>
    <div *ngIf="!editMode">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Posizione</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="book.libraryMetadata.currentPosition">
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Descrizione</span>
    </div>
    <textarea class="form-control" [(ngModel)]="book.description" [(readonly)]="readonly"></textarea>
  </div>


