/* You can add global styles to this file, and also import other style files */
#barcode-scanner video, canvas{
    width: 100%;
    height: auto;
}

#barcode-scanner canvas.drawingBuffer, video.drawingBuffer{
    display: none;
}