<div class="container">
    <div class="row" *ngIf="editMode">
        <h2>Gestisci un socio</h2>
    </div>

    <div class="row" *ngIf="!editMode">
        <h3>Cerca associato</h3>
    </div>
    <div class="row">
        <div class="form-inline" >
            <div class="form-group mb-2">
                <input type="text" class="form-control" id="inputIsbn" placeholder="Nome o Cognome" (keyup.enter)="search()"
                    required
                    [(ngModel)]="searchedValue" name="searchedValue">
            </div>
            <button class="btn btn-primary mx-sm-3 mb-2" (click)=search()>Cerca</button>
        </div>
    </div>

    <div *ngIf="!hideResults">
      <div class="row" >
        <h3>Ho trovato questi soci:</h3>
      </div>
      <div class="row" *ngFor="let member of members" >
        <div class="col-md-12">
          <app-member-accordion [member]="member" [editMode]="editMode" (selectEvent)="selectMember($event)"></app-member-accordion>
        </div>
      </div>
      <div class="row" *ngIf="totalPages>1">
        <ngb-pagination [collectionSize]="totalMembers" [pageSize]="pageSize" 
          [(page)]="page" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)">
        </ngb-pagination>
      </div>
    </div>
    <div class="row" *ngIf="showErrorAlert">
      <div class="alert alert-danger" role="alert" >
        Qualcosa è andato storto!!
      </div>
    </div>
    
  </div>