
<div class="container">
  <div class="row">
    <h2 *ngIf="!editUserMode">Inserisci un nuovo associato</h2>
    <h2 *ngIf="editUserMode">Modifica associato</h2>
  </div>
  <form #memberForm="ngForm" appMember (ngSubmit)="save()">
  <div class="row">  
    <div class="col-md-12">

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Nome</span>
        </div>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="member.name" required #name="ngModel">
      </div>
      
      <div class="input-group mb-3 form-group" >
        <div class="input-group-prepend">
          <span class="input-group-text">Cognome</span>
        </div>
        <input type="text" class="form-control"  id="surname" name="surname" [(ngModel)]="member.surname" required #surname="ngModel">
      </div>
      
      <div class="input-group mb-3  form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Data di nascita</span>
        </div>
        <input class="form-control" placeholder="dd/mm/yyyy" 
              ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1910, month: 1, day: 1}" [maxDate]="{year: 2030, month: 12, day: 31}"
              id="birthdate" name="birthdate" [(ngModel)]="member.birthdate" required #birthdate="ngModel">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Luogo di nascita</span>
        </div>
        <input type="text" class="form-control" id="birthplace" name="birthplace" [(ngModel)]="member.birthplace" required #birthplace="ngModel">
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Residente in</span>
        </div>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="member.address.city" required #city="ngModel">
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Provincia</span>
        </div>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="member.address.state" required #state="ngModel" >
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Via</span>
        </div>
        <input type="text" class="form-control" id="street" name="street"  [(ngModel)]="member.address.street" required #street="ngModel">
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">CAP</span>
        </div>
        <input type="text" class="form-control" id="cap" name="cap"  [(ngModel)]="member.address.cap" #cap="ngModel">
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Cellulare</span>
        </div>
        <input type="text" class="form-control" id="cell" name="cell" [(ngModel)]="member.contacts.cell" required #cell="ngModel">
      </div>

      <div class="input-group mb-3  form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Telefono</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.contacts.phone" id="phone" name="phone" #phone="ngModel">
      </div>

      <div class="input-group mb-3  form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.contacts.email" id="email" name="email" #email="ngModel" required email>
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Titolo di studio</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.addInfo.qualification" id="qualification" name="qualification" #qualification="ngModel" >
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Professione</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.addInfo.profession" id="profession" name="profession" #profession="ngModel" >
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Hobby</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.addInfo.hobby" id="hobby" name="hobby" #hobby="ngModel" >
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Sito Internet</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.addInfo.website" id="website" name="website" #website="ngModel" >
      </div>

      <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Note</span>
        </div>
        <textarea class="form-control" [(ngModel)]="member.note" id="note" name="note" #note="ngModel" ></textarea>
      </div>

      <div class="input-group mb-3 form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="standard" id="standard" [(ngModel)]="member.membership.standard" #standard="ngModel">
          <label class="form-check-label" for="standard">
            Socio Effettivo
          </label>
        </div>
      </div>

      <div class="input-group mb-3 form-group" *ngIf="member.membership.standard">
          <div class="input-group-prepend">
            <label class="input-group-text" for="memberColor">Tipo di socio</label>
          </div>
          <select class="custom-select" id="memberColor" name="memberColor" [(ngModel)]="member.membership.memberColor" #memberColor="ngModel">
            <option value="Yellow" selected>Yellow</option>
            <option value="Green">Green</option>
            <option value="Pink">Pink</option>
          </select>
        </div>
        

      <div class="input-group mb-3 form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="schoolclass" id="schoolclass" [(ngModel)]="member.membership.schoolclass" #schoolclass="ngModel">
          <label class="form-check-label" for="schoolclass">
              Socio Effettivo con iscrizione ad un corso
          </label>
        </div>
      </div>

      <div *ngIf="memberForm.errors?.subscriptionTypeError && 
          (schoolclass.touched || schoolclass.dirty || standard.touched || standard.dirty)" class="cross-validation-error-message alert alert-danger">
          Il socio deve essere effettivo o venire da iscrizione.
      </div>

      <div class="input-group mb-3 form-group" *ngIf="member.membership.schoolclass" >
        <div class="input-group-prepend">
          <span class="input-group-text">Nome del corso</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="member.membership.className"  id="className" name="className" #className="ngModel" >
      </div>

      <div class="input-group mb-3 form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Somma versata</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="member.membership.amount" required id="amount" name="amount" #amount="ngModel" >
        </div>  

      <div class="input-group mb-3 form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="privacy" id="privacy" [(ngModel)]="member.membership.privacy" #privacy="ngModel">
          <label class="form-check-label" for="privacy">
              Autorizzazione al trattamento dati
          </label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputBenefitSelect">Benefit</label>
        </div>
        <select class="custom-select" name="inputBenefitSelect" id="inputBenefitSelect" [(ngModel)]="member.benefit.benefitType" [compareWith]="compareBenefitType">
          <option *ngFor="let benefit of benefits" [value]="benefit">{{benefit}}</option>
        </select>
      </div>
      <div class="input-group mb-3 form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="benefitUsed" id="benefitUsed" [(ngModel)]="member.benefit.benefitUsed" #benefitUsed="ngModel">
          <label class="form-check-label" for="benefitUsed">
              Benefit Utilizzato
          </label>
        </div>
      </div>

      <div class="input-group mb-3 form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="newsletterEnabled" id="newsletterEnabled" [(ngModel)]="member.membership.newsletterEnabled" #newsletterEnabled="ngModel">
          <label class="form-check-label" for="newsletterEnabled">
              Autorizzazione all'invio della newsletter
          </label>
        </div>
      </div>
      <div class="input-group mb-3 form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Data iscrizione</span>
          </div>
          <input class="form-control" placeholder="dd/mm/yyyy" 
                ngbDatepicker #d2="ngbDatepicker" [(ngModel)]="member.membership.registrationDate" id="date" name="date" #date="ngModel" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
        </div>
    </div>
  </div>
  <div class="row form-group" *ngIf="showSaveButton">
    <button type="submit" class="btn btn-success mb-2" [disabled]="!memberForm.form.valid">Inserisci</button>
  </div>  
  </form>
  <div class="row" *ngIf="showAlerts">
    <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
      Salvataggio del socio avvenuto con successo!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="showErrorAlert">
      Qualcosa è andato storto!!
    </div>
  </div>
</div>