<div class="card">
    <div class="card-header" (click)="clickCardHeader($event)">
      <div class="row align-items-center" *ngIf="!isMobile">
        <span class="float-left col-8">{{book.authors}} - {{book.title}}</span>
        <div class="col-4">
          <button type="button" class="wsite-button float-right" (click)=addedToChart() *ngIf="!isInChart" id="ad">
            <span class="wsite-button-inner" aria-hidden="true" id="aaa">Aggiungi </span>
            <i class="fas fa-shopping-cart" id="iad"></i>
          </button>
          <button type="button" class="wsite-button float-right" (click)=removedFromChart() *ngIf="isInChart" id="rd">
            <span class="wsite-button-inner" aria-hidden="true" id="bbb">Rimuovi </span>
            <i class="fas fa-trash-alt" id="ird"></i>
          </button>
        </div>
      </div>
      <div class="row align-items-center" *ngIf="isMobile">
        <div class="float-left col-9">
          <div class="row justify-content-center" ><strong>{{book.authors}}</strong></div>
          <div class="row justify-content-center" >{{book.title}}</div>
        </div>
        <div class="col-3">
          <button type="button" class="wsite-button float-right" (click)=addedToChart() *ngIf="!isInChart" id="am"><i class="fas fa-shopping-cart" id="iam"></i></button>
          <button type="button" class="wsite-button float-right" (click)=removedFromChart() *ngIf="isInChart" id="rm"><i class="fas fa-trash-alt" id="irm"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="isOpen == true">
      <div class="card-body">
        <div *ngIf="book.thumbnail">
          <img  src="{{book.thumbnail}}" class="img-fluid img-thumbnail" alt="Cover"> 
        </div>
        <div *ngIf="book.category">
          Genere: {{book.category}} <br>
        </div>
        <div *ngIf="book.isbn">
          Isbn: {{book.isbn}} <br>
        </div>
        <div *ngIf="book.libraryMetadata.numberOfCopy">
          Copie disponibili: {{book.libraryMetadata.numberOfCopy}} <br>
        </div>
        <div *ngIf="book.publisher">
          Editore: {{book.publisher}}<br>
        </div>
        <div *ngIf="book.publishedDate">
          Data di pubblicazione: {{book.publishedDate | date : "d MMMM yyyy" }}<br>
        </div>  
        <div  *ngIf="book.pageCount">
          Numero di pagine: {{book.pageCount}}<br>
        </div>
        <div *ngIf="book.language">
          Lingua: {{book.language}}<br>
        </div>
        <div *ngIf="book.description">
          Descrizione: {{book.description}}<br>
        </div>
        <div *ngIf="book.libraryMetadata.registrationDates && currentUser">
          Date di registrazione:
          <div *ngFor="let regDate of book.libraryMetadata.registrationDates" class="pl-3">
            {{regDate | date : "d MMMM yyyy HH:m"}} <br>
          </div>
        </div>
        <div *ngIf="book.libraryMetadata.deliveryDates && currentUser">
          Date di consegna:
          <div *ngFor="let delDate of book.libraryMetadata.deliveryDates" class="pl-3">
            {{delDate | date : "d MMMM yyyy HH:m"}} <br>
          </div>
        </div>
        <div *ngIf="book.libraryMetadata.positions && currentUser">
          Posizioni:
          <div *ngFor="let position of book.libraryMetadata.positions" class="pl-3">
              {{position}} <br>
          </div>
        </div>
        <div class="btn-toolbar" *ngIf="currentUser">
          <button class="btn btn-info mr-2" (click)='edit(book)'>Modifica <i class="fas fa-edit"></i></button>
          <button class="btn btn-info" (click)='delete(book)'>Scarica <i class="fas fa-file-export"></i></button>
        </div>
      </div>
    </div>
</div>
